* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 500px;
  height: 500px;
}

.square{
  width: 32.93%;
  height: 32.99%;
  border: 1px solid blue;
  cursor: pointer;
  transition: background-color .25s;
  &:hover{
    background-color: #E0E0E0;
  }
}

@media(max-width: 500px){
  .container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 250px;
    height: 250px;
  }

  .square{
    width: 30.93%;
    height: 30.99%;
    border: 1px solid blue;
    cursor: pointer;
    transition: background-color .25s;
    &:hover{
      background-color: #E0E0E0;
    }
  }
}

.win {
  animation-name: anim-win;
  animation-iteration-count: infinite;
  animation-duration: .3s;
}

@keyframes anim-win {
  from{
    background-color: white;
  }
  to {
    background-color: green;
  }
}
.visible-o{
  display: none;
}

div[data-symbol ='O'] > .visible-o{
  display: block;
}

.visible-x{
  display: none;
}

div[data-symbol ='X'] > .visible-x{
  display: block;
}

// .circle{
//   stroke: rgb(242, 235, 211);
//   fill:none;
//   stroke-width: 16px;
//   transition: stroke-dashoffset 0.225s cubic-bezier(0.4,0,0.2,1);
// }

// .x{

// }
path{
  stroke-width: 16px;
  fill:none;
}
